/*

Template 2077 Modern Town

http://www.tooplate.com/view/2077-modern-town

*/

/* Body 
------------------------------------- */
body {
		background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative;
}

html,body {
    width: 100%;
    min-width: 1000px;
    overflow-x: hidden;
}

.post-masonry img {
    width: 100%;
    display: block;
}

/* Typography
------------------------------------- */
h1,h2,h3,h4,h5 {
  font-weight: bold;
}

h1 {
  font-size: 72px;
  line-height: 72px;
  -webkit-text-fill-color: rgb(254, 243, 240); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(46, 25, 38);
  font-family: 'Fredoka One', cursive;
}

h2 {
  color: rgb(46, 25, 38);
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 1px;
  padding-bottom: 12px;
}

h3 {
  color: rgb(222, 103, 115);
  font-size: 16px;
  letter-spacing: 26px;
  letter-spacing: 2px;
}

h4 {
/*  color: rgb(249, 38, 90)*/
  color: black;
}

h5 {
  color: rgb(120, 166, 120);
  line-height: 28px;
  letter-spacing: 2px;
  margin-top: 0;
}

p {
  font-size: 16px;
  letter-spacing: 0.9px;
  line-height: 32px;
  color: rgb(46, 25, 38);
}

a, a:hover {
  text-decoration: none;
}

/* All Section styles
------------------------------------- */
#testimonial, #about, #projects, #blog, #widgets, #counter, #contact {
   	padding-top: 120px;
  	padding-bottom: 120px;
}

.parallax-section {
  	background-attachment: fixed !important;
  	background-size: cover !important;
}


/* navigation styles
/* ========================================== */
.navbar-default {
    background: #fff;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
    margin: 0 !important;
  }
.navbar-default .navbar-brand {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: rgb(46, 25, 38);
  }
.navbar-default li {
  margin: 15px 20px;
}
.navbar-default .navbar-nav li a {
    color: rgb(46, 25, 38);
    font-size: 12px;
    font-weight: bold;
    padding: 0px;
  }
.navbar-default .navbar-nav li a:hover {
    color: rgb(222, 103, 115);
  }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: rgb(46, 25, 38);
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: rgb(222, 103, 115);
  background-color: transparent;
}
.navbar-default .navbar-toggle {
     border: none;
     padding-top: 12px;
  }
.navbar-default .navbar-toggle .icon-bar {
    background: rgb(222, 103, 115);
    border-color: transparent;
  }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}



/* home section styles
/* ========================================== */
#home {
  background: url('../assets/fireworks.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}

#home .btn-danger {
  background: rgb(255, 212, 230) !important;
  margin-right: 20px;
}

#home .btn-danger:hover {
  background: rgb(223, 188, 194) !important;
}

#home .third {
  background: rgb(249, 38, 90) !important;
  margin-left: 20px;
}

#home .third:hover {
  background: rgb(222, 103, 115) !important;
}

#home .btn {
  background: rgb(222, 137, 146);
  border-color: transparent;
  color: rgb(46, 25, 38);
  font-size: 12px;
  font-weight: bold;
  padding: 14px 52px;
  margin-top: 40px;
  transition: all 0.4s ease-in-out;
}

#home .btn:hover {
  background: rgb(200, 115, 122);
}

.move-down {
  margin-top: 340px;
}


/* testimonial section styles
/* ========================================== */
#testimonial .item {
  text-align: center;
  display: block;
  width: 100%;
  padding-bottom: 62px;
}

#testimonial .item img {
  display: inline-block;
}

#testimonial {
  color: rgb(222, 103, 115) !important;
}

#testimonial a {
  color: rgb(249, 38, 90);
}

#testimonial a:hover {
  color: rgb(224, 152, 172);
}

/* about section styles
/* ========================================== */
/*#about .container {
	width: 100%;
	padding: 0px;
	margin: 0px;
}*/

#about h2, #about h4 {
  text-align: center;
}

#about h2 {
  padding-bottom: 12px;
  font-size: 32px;
}
#about h4 {
  padding-bottom: 32px;
}

/*#about .about-des {
  padding: 65px;
}*/

#about h3 {
  margin-top: 0;
  color: black;
  letter-spacing: 0.9px;
}

#about h5 {
  color: rgb(222, 103, 115);
  font-size: 20px;
}

#about p {
  padding-top: 10px;
  font-size: 16px;
  line-height: 24px;
}
#about .row {
  margin-bottom: 75px;
}

#about a {
  color: rgb(249, 38, 90);
}

#about a:hover {
  color: rgb(224, 152, 172);
}

/* projects section styles
/* ========================================== */
#projects h2, #projects h4 {
  text-align: center;
}

#projects h2 {
  padding-bottom: 12px;
  font-size: 32px;
}
#projects h4 {
  padding-bottom: 32px;
}

#projects h3 {
  margin-top: 0;
  color: black;
  padding-bottom: 10px;
  letter-spacing: 0.9px;
}
#projects h5 {
  color: rgb(222, 103, 115);
  font-size: 20px;
}
#projects .row {
  margin-bottom: 75px;
}
#projects p {
  padding-top: 10px;
  font-size: 16px;
  line-height: 24px;
}

#projects .blog-wrapper {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#projects .blog-wrapper {
  color: #000000;
}

#projects a {
  color: rgb(249, 38, 90);
}

#projects a:hover {
  color: rgb(224, 152, 172);
}

/* blog section styles
/* ========================================== */
#blog h2, #blog h4 {
  text-align: center;
}

#blog h2 {
  padding-bottom: 12px;
  font-size: 32px;
}

#blog h4 {
  padding-bottom: 32px;
  letter-spacing: 0.9px;
}

#blog p {
	padding-top: 10px;
	font-size: 14px;
	line-height: 28px;
}

#blog .blog-wrapper {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#blog .blog-wrapper {
  color: #000000;
}

#blog a {
  color: rgb(46, 25, 38);
}

#blog a:hover {
  color: rgb(249, 38, 90);
}


/* widgets section styles
/* ========================================== */
#widgets h2, #widgets h4 {
  text-align: center;
}

#widgets h2 {
  padding-bottom: 12px;
  font-size: 32px;
}

#widgets h4 {
  padding-bottom: 32px;
  letter-spacing: 0.9px;
}

#widgets p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 28px;
}

#widgets .blog-wrapper {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#widgets .blog-wrapper {
  color: #000000;
}

#widgets a {
  color: rgb(46, 25, 38);
}

#widgets a:hover {
  color: rgb(249, 38, 90);
}

/* Counter section styles
/* ========================================== */
#counter {
   background: url('../assets/birds.jpg') 0% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 160px;
}

#counter .counter-number {
  color: rgb(249, 38, 90);
  font-size: 32px;
}

#counter .counter-text {
  color: #ffffff;
  letter-spacing: 2px;
}


/* contact section styles
/* ========================================== */
#contact {
  background: url('../assets/cakes.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

#contact .form-control {
  background: rgba(250,250,250,0.75);
  border-color: rgb(46, 25, 38);
  color: rgb(46, 25, 38);
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 22px;
  transition: all 0.4s ease-in-out;
  padding: 10px;
  height: auto;
}

#contact input[type="submit"] {
  background: rgb(222, 103, 115);
  border:none;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 1px;
  height: 50px;
  margin-top: 10px;
}

#contact input[type="submit"]:hover {
  background: rgb(224, 152, 172);
}

.form-control::-moz-placeholder {
  color: rgb(46, 25, 38);
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: rgb(46, 25, 38);
}
.form-control::-webkit-input-placeholder {
  color: rgb(46, 25, 38);
}

#contact .contact-detail {
  border: 1px solid rgb(46, 25, 38);
  background: rgba(250,250,250,0.75);
  padding: 34px 10px 34px 60px;
}

#contact .contact-detail h2 {
  padding-bottom: 28px;
}

#contact .contact-detail div {
  padding-bottom: 10px;
}


/* footer section styles
/* ========================================== */
footer {
  padding-top: 80px;
  padding-bottom: 50px;
}

footer p {
  padding-right: 40px;
  padding-bottom: 20px;
  font-size: 14px;
}

footer a {
  color: #606060;
}

footer a:hover {
  color: rgb(222, 103, 115);
  text-decoration: none;
}

.link-list a {
  color: #606060;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
}

.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
}
.social-icon li a {
  background: rgb(46, 25, 38);
  border-radius: 100%;
  color: #ffffff;
  font-size: 24px;
  line-height: 36px;
  width: 36px;
  height: 36px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  margin-right: 2px;
}
.social-icon li a:hover {
  background: rgb(222, 103, 115);
}



/*@media (max-width: 1280px) {
	#about .about-des {
		padding: 40px;
	}
	#about .about-des h3 {
		font-size: 20px;
	}
	
	#about .about-des h4 {
		font-size: 16px;
	}
	
	#about .about-des p {
		font-size: 13px;
		line-height: 24px;
	}
}*/
/* mobile responsive section styles
/* ========================================== */
@media (max-width: 768px) {
  h1 {
    font-size: 53px;
  }
  #counter .counter-item {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
}

@media (max-width: 650px) {
  h1 {
    font-size: 40px;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 28px;
    line-height: 38px;
  }
  #home h5 {
    font-size: 11px;
  }
  #home .btn {
    display: inline-block;
    padding: 14px 32px;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 24px;
    line-height: 34px;
  }
  #home h5 {
    font-size: 9px;
  }
}

.img-bra {
  border: 2px solid black;
}

.img-half-width {
  width: 100%;
}

.post-masonry {
  max-width: 33%;
}
